@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply max-w-[1920px] w-full mx-auto px-6 max-xl:px-4 max-sm:px-2;
}

.chart {
  width: 100% !important;
  height: 100% !important;
}

.MuiFormControl-root {
  min-width: 0 !important;
}